.fullhead{
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.Music{
    color: royalblue;
}
.r{
    border-radius: 20px;
}

.ending{
    color: red;
}

*{
    background-color:beige
}

.Mneki{
    color:blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}

.Buga{
    color: blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}

.BodyM{
    color: blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}

.yey{
    color: blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}

.common{
    color: blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}

.babylon{
    color: blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}

.wake{
    color: blue;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color: greenyellow;
}