.fullhead{
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}

.Music{
    color: royalblue;
}
.r{
    border-radius: 20px;
}

.ending{
    color: red;
}

*{
    background-color:beige
}